@font-face {
    font-family: 'seolleimcool-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/seolleimcool-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{font-family: 'seolleimcool-SemiBold';box-sizing: border-box;
border: 1px solid}
body{width: 900px;}
#wrap{display: flex;flex-direction:column;}


