/*a 마크업 기본css 제거*/
a{color: black; text-decoration: none;}

a:hover{ color: orange; font-size: 30px;  }
a:active{color: aqua; font-size: 20px;}
a:visited{color: rgb(183, 0, 255);}
/* 
    선택자:hover           : 해당 선택자에 마우스를 올렸을때.
    선택자:active          : 해당 선택지에 마우스 왼쪽 클릭하고 있을때.
    선택자:visited         : 해당 링크에 방문한 적이 있을때.
*/

#header{background-color: aqua;}
#header > ul{display: flex; justify-content: center;}
#header > ul >li{
    list-style-type: none; margin: 0px 10px;
    position: relative;
}      /* 글머리 제거 */
/* li에 마우스를 올렸을때 .submenu클래스의 display:block 변경 */
#header > ul > li:hover .submenu{
    display: block;
}
.submenu{
    position: absolute; 
    top: 40px; padding: 0;
    width: 80px; background-color: yellow;
    display: none;
}

.submenu li{list-style-type: none;}