/* header start */
.test01{
    
    margin: 0 auto;
}
#header p a{text-decoration-line: none;
    color: black;}

#header{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#header p{
    width: 400;
}
#header p .the{
    font-size: 30px;
    font-weight: bold;
    color:  blue;
}
#header p .studio{
    font-weight: bold;
}
#topmenu{
    text-align: right;
    
}
#topmenu ul{
    width: 700px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: bold;
    
}
#topmenu ul a{text-decoration-line: none;
    color: black;
}
/* header end */
#main1{
    width: 1280px;
    margin: 0 auto;
    
}
#mainImg1{
    width: 1280px;
    margin: 0 auto;
}


#nav1{
    width: 1280px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
    #navImg1{
        width: 100px;
        margin: 0 30px;
    }
    #navFont{
        text-align: left;
        margin: 0 30px;
    }
        .navFont P{
            font-weight: bold;
            margin: 5px 0;
        }
    #nav1 a{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
    }



#main2{
    background-color: #EEEEEE;
}
    #nav2{
        width: 1280px;
        margin: 20px auto 0px auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #nav2 a{
        text-decoration: none;
        color: black;
    }
    .nav2Img{
        display: flex;
        margin: 30px;
        align-items: center;
        background-color: white;
        background-position: center center;
        
    }
    #nav2 img{ width: 230px; padding: 0px ;   }
    #nav2 p{
        font-weight: bold;
        font-size: 18px;
        margin-top: 15px;
    }
    #nav2Font{
        font-size: 14px;
        color: gray;
        margin-bottom: 10px;
    }


    /* footer start */
#footer{
    
    line-height: 160%;
    display: flex;
    justify-content: space-around;
    background-color: #292C32;
    color: white;
    padding: 25px;
}
#footer ul {
    display: flex;
}
#footer h2{
    font-size: larger;
    font-weight: bolder;
}