#manage{
    /* border: 1px solid red; */
    list-style-type: none;  /* 글머리 제거 */
    margin: 0;
    padding: 0; /* 기본여백 제거 */
    box-sizing: border-box;
}


img{
    width: 100px;
}
#manage{
    width: 900px;
    margin: 0 auto;
}
#manage>h3{
    font-size: 30px;
    text-align: center;
}
#manageMain{
    display: flex;
    justify-content: space-between;
}

.Pheader{    
    font-size: 15px;
    background-color: #D98859;
    text-align: center;
    margin: 0 auto;
    margin: 0 5px;
    padding: 5px;
}
.listHead{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #a5a4a4;     
    font-size: 11px; 
    font-weight: bold;
    text-align: center;
    padding: 3px 0;
}

/* 카테고리 등록 */
#categorySection>h3{
    width: 300px;
}
#categorySection{
    margin : 0 0 30px 0;    
    border-right: 1px solid #e8e8e8;
}

#categoryBox>input{
    border: 1px solid #c7c6c6;
    height: 22px;
    border-radius: 3px;    
    font-size: 11px;
}
#categoryBox>#inputCnum{
    width: 100px;
}
#categoryBox{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}
#categoryList button{
    border: none;
    width: 15px;
    box-shadow:  0 0 3px #a5a4a4;
}
.btnCss{
    width: 35px;
}

    /* category head */
#categoryHeader{
    width: 250px; 
    margin: 0 auto;
}
.CheadA{
    display: block;
    width: 70px;
}
.CheadB{
    display: block;
    width: 120px;
}
.CheadC{
    display: block;
    width: 30px;
}
.Clist{
    display: flex;    
    justify-content: space-between;
    width: 250px; 
    margin: 0 auto;
    text-align: center;
    font-size: 11px;
    padding: 5px 0;
    border-top: 1px solid #a5a4a4;
}
.Clist>.CheadC>button{
    font-size: 11px;
}
/* 제품등록 */
#productSection{
    width: 600px;   
}
#PselectC{
    font-size: 11px;
    display: flex;
    width: 250px;
    justify-content: space-between;
    margin: 0 auto;
}
#PselectC>#selectCategory{
    font-size: 11px;
    height: 22px;
    border-radius: 3px;
}
#PselectC #selectCno{
    font-size: 11px;
    height: 22px;
    border: 1px solid #c7c6c6;
    border-radius: 3px;
    width: 50px;
}
#productBox{
    display: flex;
    flex-direction: column;
    margin: 10px 0;  
}
#writeProduct>input{
    font-size: 11px;
    border: 1px solid #c7c6c6;
    height: 22px;    
    border-radius: 3px;
}
#writeProduct{
    display: flex;
    margin: 10px 5px;
    justify-content: space-around;
}
#writeProduct>#inputPno{
    width: 60px;
}
#writeProduct>#inputPimg{
    width: 150px;
    border: none;
}


#changePno{
    width: 60px;
    margin: 5px;
}
#changePname, #changePprice{
    width: 100px;
    margin: 5px;
}
#changePimg{
    margin: 5px;
    width: 150px;
}

/* product header */
#productHeader{
    width: 570px;
    margin: 0 auto;
}
#productHeader>span{
    display: block;
}
.productList>span{
    display: block;
}
.productList{
    border-top: 1px solid #a5a4a4;
}
.PheadA{
    width: 70px;
}
.PheadB, .PheadC{
    width: 120px;
}
.PheadD{
    width: 150px;
}
.PheadE{
    width: 100px;
}

/* 제품리스트&수정폼 */
.productList, .newPList{
    width: 570px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 11px;
}
.productList input,.newPList input{
    font-size: 11px;
}
.newPList{
    box-shadow: 1px 1px 1px 1px #a5a4a4 inset;
}