*{
    border:  2px solid red;
    box-sizing: border-box;
    padding: 10px;
    /* 구역 구분을위한 코드 끝나면 제거 */
}


#webWrap{
    width:  900px;          /* 가로 사이즈 */
    margin: 50px auto;         /* 박스 가운데 정렬 */
}

header {background-color: blue; color: white;}

nav{background-color: brown; color: white;}

main{
    background-color: orange;
    display: flex;
    flex-wrap: nowrap;
    /* 900px */
}

article{
    width: 600px;           /* 부모 900px에서 600px 사용 */
}

aside{
    width: 300px;           /* 부모 900px에서 600px 사용 */
}

footer{background-color: black; color: white;}

#header{background-color: blue; color: white;}

#nav{
    background-color: brown; color: white;
}
#main{
    background-color: orange;
    display: flex;
    flex-wrap: nowrap;
}

#article{width: 600px;         /* 부모 900px에서 600px 사용 */}

#aside{width: 300px;           /* 부모 900px에서 600px 사용 */}

#footer{background-color: black; color: white;}
