*{
    box-sizing: border-box;  font-family: sans-serif;
    border: none;
}
#list{
    display: flex; flex-direction: column;
    font-weight: bold;
}
#list>p {border-bottom: solid 1px rgb(211, 206, 206);width: 300px;}
#regi{
    display: flex;justify-content:space-between
}
#wrap{margin: 0 auto;width: 500px;}


h1{text-align: center;}

#bottom{text-align: center; }

#head > th{display: flex;justify-content:space-evenly;}
#tb{width: 480px;}
#Bt{width:100px; height: 60px;font-weight: bold;background-color: rgb(142, 231, 231);}
#sumbox{background-color: rgb(142, 231, 231);height: 40px;display: flex; justify-content: center;align-items: center;}