/* 메인페이지 css 작성_박효성 */
/* 
div{border: 1px solid red;padding: 1px;} */
/* #header, #main, #footer{margin: 10px 10px;} */

/* 폰트적용 */
@font-face {
    font-family: 'seolleimcool-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/seolleimcool-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{font-family: 'seolleimcool-SemiBold'; box-sizing: border-box; padding: 0; margin: 0;}

/* 전체크기 및 가운데정렬 */
#wrap{width: 900px; margin: 0 auto;}

/* ============== 헤더 윗부분 ============== */
#header{border-bottom: 2px solid #D9D9D9;}
#topHeader{width: 300px; display: flex; margin: 10px auto; justify-content: center; align-items: center;}
.topTitle, .topImg{margin: 5px;}
.topTitle > span{color: #D9D9D9; background-color: #730202; border-radius: 10px;
                    padding: 10px; font-weight: bold; font-size: 40px;}
.admin{color: rgba(217, 217, 217, 0.3); font-weight: bold; border-radius: 5px; font-size: 20px; text-align: right;}

/* ============== 헤더 아래부분 ============== */
#bottomHeader{padding: 25px 0px 15px 0px;}
#bottomHeader > ul {display: flex; justify-content: space-around;}
#listMenu{width: 100%;}
#listMenu > li{font-size: 30px; font-weight: bold; text-align: center;
                    padding: 5px; border-radius: 10px;}
.selectMenu{width: 220px; background-color: #730202; color: #D9D9D9;
                    padding: 5px; font-weight: bold; border-radius: 10px;}
/* 리스트 글머리 제거 */                                    
li{list-style: none;}


/* ============== 상품 출력 CSS ============== */
#main{display: flex; flex-wrap: wrap; height: 500px; overflow-y: scroll;border-bottom: 2px solid #D9D9D9;}
#product{width: 170px; height: 300px; margin: 10px; padding: 10px; border: 1px solid #D9D9D9;}
#pimg>img{width: 100%;}
#ppname{align-items: center; text-align: center; font-size: 30px; color: #BF3415; margin: 5px;}
#pprice{align-items: center; text-align: center; font-size: 25px; color: #D98859; margin: 5px;}

/* ============== 카트 출력 CSS ============== */
#footer{padding: 5px 0px;}
#footerTop{display: flex; padding: 5px; border-bottom: 3px solid #D9D9D9;}
#footerTop>div:nth-child(1){width:300px; color: #BF3415; font-size: 30px; text-align: center;}
#footerTop>div:nth-child(2){width:300px; color: #BF3415; font-size: 30px; text-align: center;}
#footerTop>div:nth-child(3){width:300px; color: #BF3415; font-size: 30px; text-align: center;}
#footerBottom{height: 300px; overflow-y: scroll;}
#footerBottom>div{display: flex; border-bottom: 2px solid #D9D9D9; padding: 10px 0px;}
#footerBottom>div>div:nth-child(1){width:300px; color: #BF3415; font-size: 30px; text-align: left; padding-left: 50px;}
#footerBottom>div>div:nth-child(2){width:300px; color: #BF3415; font-size: 30px; text-align: center;}
#footerBottom>div>div:nth-child(3){width:300px; color: #BF3415; font-size: 30px; text-align: right; padding-right: 50px;}

#cartInfo{text-align: center; color: #BF3415; font-size: 40px; padding: 15px; border-radius: 10px; background-color: #D98859;}

/* ============== 주문 출력 CSS ============== */
#orderBtn{display: flex;}
#order{background-color: #730202; color: #D9D9D9; width: 50%; font-size: 50px; text-align: center; border-radius: 10px;}
#cancle{background-color: #D9D9D9; color: #730202; width: 50%; font-size: 50px; text-align: center; border-radius: 10px;}