textarea{
    width: 100%;
    height: 200px;
    resize: none;
    margin: 20px 0;
}
button{
    width: 100%;
    background-color: black;
    color: white; border: none;
    padding: 10px 0px;
    margin-top: 50px;
}
#main{
    margin-top: 50px;
}